<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Configure test</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/postconf}" th:object="${runTestDTO}" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="timeBetweenRequests" class="col-form-label">Time between requests (ms)</label>
                        <input type="number" th:field="*{timeBetweenRequests}" class="form-control" id="timeBetweenRequests" placeholder="Time between requests">
                        <span th:if="${#fields.hasErrors('timeBetweenRequests')}" th:errors="*{timeBetweenRequests}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="numberOfUsers" class="col-form-label">Number of users</label>
                        <input type="number" th:field="*{numberOfUsers}" class="form-control" id="numberOfUsers" placeholder="Number of users">
                        <span th:if="${#fields.hasErrors('numberOfUsers')}" th:errors="*{numberOfUsers}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="testTime" class="col-form-label">Time of test (s)</label>
                        <input type="number" th:field="*{testTime}" class="form-control" id="testTime" placeholder="Time of test">
                        <span th:if="${#fields.hasErrors('testTime')}" th:errors="*{testTime}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="requestsNumber" class="col-form-label">Number of requests</label>
                        <input type="number" th:field="*{requestsNumber}" class="form-control" id="requestsNumber" placeholder="Number of requests">
                        <span th:if="${#fields.hasErrors('requestsNumber')}" th:errors="*{requestsNumber}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>